@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 

main{
    /* background-color: orange;  */
    max-width: 15%; 
    margin: 10% 25% ;  
    display: flex; 
    flex-direction: column;
}  

body{ 
    background-color: hsl(204, 43%, 93%) ; 
    font-family: 'Karla' , cursive;
}

.first-div{ 
  background-color: hsl(0, 0%, 100%); 
  padding: 40px 30px; 
  width: 40rem; 
  padding-bottom: 10%;   
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
} 

.starter { 
  font-weight: 700; 
  font-size: 2em; 
  padding: 5px 0px;
  color:  hsl(179, 62%, 43%);
} 

.bold-text{ 
    font-weight: 500; 
    font-size: 2em;  
    color: hsl(71, 73%, 54%); 
    padding: 9px 0px; 
} 

.first-p{
    font-family: 300; 
    font-size: 130%;  
    color: hsl(218, 22%, 67%);
} 

.second-div{
    background-color: hsl(179, 62%, 43%); 
    width: 40rem; 
    padding: 4em 8em;  
    padding-bottom: 7em;
    color: #fff; 
} 

.second-starter{ 
    font-size: 2em; 
    font-weight: 500;
}  

.dollar{ 
 font-weight: 700; 
 font-size: 150%; 
 color: white;
} 

.price{ 
    font-size: 120%; 
    padding: 5px 0px; 
    color: hsl(204, 43%, 93%);
}
 
.access{ 
    font-size: 120%; 
    padding-bottom: 20px; 
} 

.button{ 
    padding: 15px 6rem;  
    width: 20rem;
    background-color: hsl(71, 73%, 54%); 
    border: none;  
    color: #fff; 
    display: flex;  
    font-size: 150%; 
    font-weight: 200;
}

.third-div{ 
    background-color: hsl(179, 36%, 55%); 
    width: 40rem; 
    padding: 100px 40px;  
    padding-bottom: 7em;
    border-bottom-right-radius: 2em;  
    border-bottom-left-radius: 2em;
    color: #fff; 
    font-size: 120%; 
    text-align: center;
} 

.attribution{
    font-size: 120%; 
    font-weight: 500;
}